server:
  port: 5001

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: read-service
          uri: http://localhost:3001
          predicates:
            - Path=/read/**
          filters:
            - RemoveRequestHeader=Cookie
          metadata:
            cors:
              allowedOrigins: 'http://localhost:3001'
              allowedMethods:
                - GET
              allowedHeaders: '*'
              maxAge: 30
        - id: write-service
          uri: http://localhost:3002
          predicates:
            - Path=/write/**
          filters:
            - RemoveRequestHeader=Cookie

