server:
  port: 5001

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: read-service
          uri: http://localhost:3001
          predicates:
            - Path=/read/**
          filters:
            - RemoveRequestHeader=Cookie
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
          metadata:
            cors:
              allowedOrigins: 'http://localhost:5173, http://localhost:5001'
              allowedMethods:
                - GET
              allowedHeaders: '*'
              maxAge: 300
        - id: write-service
          uri: http://localhost:3002
          predicates:
            - Path=/write/**
          filters:
            - RemoveRequestHeader=Cookie
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

